[user]
  name = Alex M.
  email = 7845120+newAM@users.noreply.github.com
[alias]
  a = add
  br = branch
  c = commit
  co = checkout
  p = push
  rph = rev-parse HEAD
  s = status
  st = status
[core]
  editor = nvim
