[user]
  name = Alex M.
  email = alexmgit@protonmail.com
[alias]
  a = add
  br = branch
  c = commit
  co = checkout
  p = push
  po = !git push -u origin $(git symbolic-ref --short HEAD)
  rph = rev-parse HEAD
  s = status
  st = status
  pt = push origin --tags
  ptag = push origin --tags
  ds = diff --staged
  fop = fetch origin --prune
[core]
  editor = nvim
